@font-face {
  font-family: Helvetica;
  src: url(HelveticaUltraLt_0.ttf);
}
@font-face {
  font-family: 'Roboto Light';
  src: url(Roboto-Light_0.ttf);
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(Roboto-Regular_0.ttf);
}
