
  

a {
    color: var(--bg-primary);
    text-decoration: none;
}


/* Header */



.header {
  display: grid;
  background-color: transparent;
  position: absolute;
  width: 80%;
  left: 17.5%;

  
    
}


.navbar {
    z-index: 1;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;

    font-size: 14px;
    

    
    
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    gap: 1em;
    
    
}

.nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto Regular';
   
}


.logo-container {
   display: flex;
   height: 10em;
   width: 10em;
   justify-content: center;
   align-items: center;
}

.hamburguer {
    display: none;
}

.index-img {
  
    z-index: -1;
    height: auto;
    width: 100%;
    
    
}

.header-container {
    display: flex;
    flex-direction: column;
    color: var(--bg-primary);
    font-family: 'Helvetica 25';
    text-align: left;
    margin: 5em 0 0 6em;
    line-height: 1.4;
  

   
}

.header-text {
    display: inline-block;
    font-size: 5.5em;
    font-weight: lighter;
    
}

.header-subtext {
    display: inline-block;
    font-weight: lighter;
    font-size: 2.4em;
}

.header-hr {
    border: 3px dotted;
    color: antiquewhite;
    height: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
}


/* --- Cadastro --*/

form {
    width: 100%;
    max-width: 33em;
}

label {
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: .75em;
    font-family: 'Roboto Regular';
    margin: 0.5em 0.2em;
    
   
}

input {
    width: 100%;
    color: var(--bg-primary);
    background-color: var(--bg-secondary);
    padding: .25em;
    cursor: text;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    font-family: ps;
    font-weight: lighter;
    font-size: 14px;
    height: 1.25em;
    margin: .25em 0;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: var(--bg-secondary);
  -webkit-box-shadow:0 0 0px 1000px var(--bg-secondary) inset;
  -webkit-text-fill-color: white;
  
}


.blue-section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    align-items: center;
    justify-content: center;
    outline: 0.2em solid var(--bg-secondary);
    
}

.page-title {
    font-family: 'Helvetica 25';
    font-weight: lighter;
    font-size: 2.25em;
    padding: 1.5em;
}

.post {
    display: flex;
    flex-direction: column;
}

.input-data {
    width: 100%;
    margin: 2em 0;
    position: relative;
    color: var(--bg-primary);
}

.btn {
    font-family: 'Helvetica 25';
    color: var(--bg-secondary);
    font-size: 2.25em;
    background-color: var(--text-secondary);
    margin: .6em 1em 2em;
    padding: .2em 1em;
    border: 0;
    cursor: pointer;
}


/* Lista de Cadastro */


table {
    empty-cells: show;
    width: 100%;
    max-width: 50em;
    margin: 2em 0 5em;
    border-collapse: collapse;
  
}


th, tr, td{
    border: 1px solid var(--bg-secondary);
    border-top: 0;
    border-width: 1px 0;
    padding: .3em;
   
    
}
th, td {
    border-width: 1px;
}
td {
    border-bottom: 0;
    color: #808080;
    width: 15%;
    
    
    
}
td:first-child {
    border-left: 0;
    width: 10%;
   
    
}

td:last-child {
    border-right: 0;
    
}

th:first-child {
    border-left: none;
}

th:last-child {
    border-right: none;
}
tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}


.white-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-title {
    font-family: 'Helvetica 25';
    font-weight: bold;
    font-size: 3em;
    padding-top: 1em;
    color: var(--text-primary);
}

.table-heading {
    font-family: 'Roboto Regular';
    color: var(--text-secondary);
}

.table-data {
    font-family: ps;
    font-weight: lighter;
    font-size: 15px;
    height: 39px;
    
}

.top-page-pointer {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 87.5%;
    bottom: -102%;
    
}


/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
}

.info-text {
    margin: .75em;
    font-family: 'Roboto Light';
    font-size: 14px;
}


/* Tablets */

@media only screen and (max-width: 1224px) {

    .header {
        left:0;
        align-items: center;
        justify-content: center;
    }
    .nav-container {
        width: 130%;
    }
    .navbar {
        flex-direction: row-reverse;
        font-size: 10px;
        gap: 28em;
    }

    .logo {
        margin: 0 0 2em;
        
    }
    .logo-container {
        margin-left: 7.5em;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        margin-top: 2em;
        
    }

    .navbar-nav {
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
    }

    .nav-item {
        visibility: hidden;
    }

    .nav-item.active {
     width: 100%;
     display: block;
     padding: 1em 0;
     visibility: visible;
    }


    .a-header {
        position: absolute;
    }

    .header-hr {
        display: none;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .hamburguer-aberto-img {
        display: none;
    }

    .index-img {
       background-clip: content-box;
        object-fit:scale-down;
    }

    .header-container {
        margin: 2em 0 0 6em;
    }

    .header-text {
        font-size: 3.4em;
        line-height: 1;
    }

    .header-subtext{
        font-size: 1.5em;
    }

    table {
        max-width: 35em;
    }

}


/* Mobile */

@media only screen and (max-width: 767px) {


}